/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1300px) {
	.main_slider {
	    max-height: 615px;
	}
	#index_slider .main_slider {
	    max-height: inherit;
	}
}
@media only screen and (max-width: 1200px) {
 body{min-width:995px;}
 	.logo a{width: 220px; height: 70px;}
 	.menu_link{padding: 8px 6px;}
 	.project_item{margin-bottom: 20px;}
 	/*--------------- Start: index page------------*/
 	.header_slogan{
 		line-height: 30px;
 		font-size: 27px;
 		margin-bottom: 8px;
 	}
 	/*--------------- End: index page------------*/
}
@media only screen and (max-width: 1199px){
	.projects_box.current_pb .project_item_sm{
		width: 47%;
	}
	.slider_box.accent_bg_color2 .flex-viewport .slides li img {
        height: 385px !important;
	}
	.slider_box.accent_bg_color2 .main_slider {
        max-height: 385px;
	}
}
@media only screen and (max-width: 1024px){
 body{min-width:976px;}
	.main_slider {
        max-height: 507px;
	}
}
@media only screen and (max-width: 992px) {
 body{min-width:768px;}
 	
	.portfolio_content .project_item_sm, .portfolio_item{width: 45%;} 
	.portfolio_content .project_item_sm:last-child{padding: 0 0 20px 0;border-bottom: 1px solid rgba(255,255,255,.4);}
 	.project_item_sm{width: 30%;}
 	.portfolio_content{
 		padding: 15px;
 	}
 	.portfolio_content .thumb_carousel{
 		display: none;
 	}
 	.portfolio_content .flex-direction-nav a{
 		background: url(../images/arrows.png) 50% 50% no-repeat;	
 		width: 40px;
 		height: 40px;
 		margin-top: -20px;
 	}
 	.portfolio_content .flex-direction-nav .flex-prev{
 		left: 10px;
 		background-position: 0% 50%;
 	}
 	.portfolio_content .flex-direction-nav .flex-next{
 		right: 10px;
 		background-position: 100% 50%;
 	}
 	.portfolio_content .flexslider:hover .flex-next{
 		right: 10px;
 	}
 	.portfolio_content .flexslider:hover .flex-prev{
 		left: 10px;
 	}
 	.service_item{
 		text-align: center;
 	}
}
@media only screen and (max-width: 991px){
	.logo{
 		position: relative;
 		z-index: 9;
 	}
 	.header_slogan{
 		position: absolute;
 		z-index: 2;
 		top: 11.5px;
 		right: 10px;
 		left: 0;
 		white-space: nowrap;
 		overflow: hidden;
 		-ms-text-overflow: ellipsis;
 		    text-overflow: ellipsis;
 		padding-left: 240px;
 		line-height: normal;
 		margin-bottom: 0;
 	}
 	.portfolio_items{
 		margin: 0;
 	}
 	.portfolio_item {
        width: 48%;
        margin: 1%;
	}	
}
@media only screen and (max-width: 784px){
	body{min-width:751px;}
}
@media only screen and (max-width: 767px) {
	body{
		min-width:480px;
		padding-top: 75px;
	}   
	.header_slogan{text-align: center;display: none;}
	header{
		padding: 0;
		position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
	}
	.logo + div{margin-top: 0;}
	.project_item_sm{width: 46%;margin: 0 2% 20px;}
	.show_thumb_btn{width: 40px;height: 40px;bottom: 20px;background: #fff url(../images/show_thumb_icon.png) 50% 18px no-repeat;}
	.content_box{padding: 30px 0;}
	.projects_nav_list{margin-bottom: 20px;}
	/*--------------- Start: index page------------*/
	.service_item{
		display: inline-block;
		margin-bottom: 15px;
	}
	.show_menu nav{
	    right: 0px;
	    -webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	}
	.menu_item{
 		float: none;
		border-bottom: 1px solid rgba(255,255,255,.3);
 	}
 	.menu_link{
 		padding: 10px 8px;
 		font-size: 15px;
 		color: #CE5E00;
 	}
 	.show_menu .menu_link:hover{
	    padding-left: 30px;
	    color: #fff;
    	background-color: #ce5e00;
	}
	nav{
		position: fixed;
	    right: -250px;
	    left: inherit;
	    background-color: #33383b;
	    width: 250px;
	    top: 0px;
	    padding: 40px 0;
	    height: 100%;
	    margin: 0;
	    -webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	    z-index: 999;
	}
	body.show_menu{
		position: relative;
	}
	section,
	main{
		-webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	}
	.show_menu section,
	.show_menu main{
		-webkit-transform: translateX(-250px);
		   -moz-transform: translateX(-250px);
		    -ms-transform: translateX(-250px);
		     -o-transform: translateX(-250px);
		        transform: translateX(-250px);
	    -webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	}
	.header_slogan + nav{
 		border-bottom: none;
 		border-top: none;
 		padding: 40px 0 0 10px;
 	}
 	.close_btn{
 		position: absolute;
	    top: 5px;
	    right: 10px;
	    width: 30px;
	    height: 30px;
	    font-size: 40px;
	    line-height: 30px;
	    text-align: center;
	    color: #CE5E00;
	    cursor: pointer;
	    display: block;
 	}
 	.show_menu_btn{
 		display: block;
 		float: right;
 		margin: 14.5px 0;
 	}
 	.show_menu_btn span{
 		background: url(../images/button.png) 0% 90% no-repeat;
 		padding: 11px 12px 11px 55px;
	    display: block;
	    font-size: 16px;
	    font-weight: bold;
	    cursor: pointer;
	    color: #000;
 	}
	.title2{font-size: 20px;}
	.list1 a{font-size: 13px;}
	.title3 a{font-size: 14px;}
	/*--------------- End: index page------------*/
	.flex-direction-nav a{
 		background: url(../images/arrows.png) 50% 50% no-repeat;	
 		width: 40px;
 		height: 40px;
 		margin-top: -20px;
 	}
 	.flex-direction-nav .flex-prev{
 		left: 10px;
 		background-position: 0% 50%;
 	}
 	.flex-direction-nav .flex-next{
 		right: 10px;
 		background-position: 100% 50%;
 	}
 	.flexslider:hover .flex-next{
 		right: 10px;
 	}
 	.flexslider:hover .flex-prev{
 		left: 10px;
 	}
 	.thumb_carousel.main_thumbcar{
 		display: none;
 	}
 	.main_slider ,
 	.slider_box.accent_bg_color2 .main_slider{
        max-height: 297px;
	}
	.slider_box.accent_bg_color2 .flex-viewport .slides li img{
		height: 297px !important;
	}
	.mt_15_767{
		margin-top: 15px;
	}
	.tal_767{
		text-align: left;
	}
	.projects_box.current_pb .project_item_sm {
        width: 49%;
        margin: 0 2px 20px;
	}
}


@media only screen and (max-width: 479px) {
 body{min-width:300px;padding-top: 65px;}
 .project_item_sm{width: 100%;}
 .dark_bg .al_right{text-align: left;margin-top: 5px;}
 .portfolio_content .project_item_sm, .portfolio_item,
 .projects_box.current_pb .project_item_sm {width: 100%;} 
 	/*--------------- Start: index page------------*/
 	.projects_box{margin: 0;}
 	.portfolio_item{
 		margin: 1% 0;
 	}
	.project_item_sm{margin: 0 0 20px;}
	.title3 a{font-size: 15px;}
	.logo a{
		width: 180px;
		height: 60px;
		background-position: 0 50%;
	}
	.show_menu_btn {
        margin: 9.5px 0;
	}
	/*--------------- End: index page------------*/
}
@media only screen and (max-width: 330px){
	header{
		min-width:300px;
	}
	.show_menu_btn{
		margin: 2px 0;
	}
	.show_menu_btn span{
		padding: 41px 2px 0;
		font-size: 13px;
		background-position: 0 0;
	}
}