/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1200px) {
 body{min-width:995px;}
 	.logo a{width: 220px; height: 70px;}
 	.menu_link{padding: 8px 6px;}
 	.project_item{margin-bottom: 20px;}
 	/*--------------- Start: index page------------*/
 	.header_slogan{
 		line-height: 30px;
 		font-size: 27px;
 		margin-bottom: 8px;
 	}
 	/*--------------- End: index page------------*/
}

@media only screen and (max-width: 992px) {
 body{min-width:768px;}
 	.logo + div{margin-top: -40px;}
	.portfolio_content .project_item_sm, .portfolio_item{width: 45%;} 
	.portfolio_content .project_item_sm:last-child{padding: 0 0 20px 0;border-bottom: 1px solid rgba(255,255,255,.4);}
 	.project_item_sm{width: 30%;}
 	/*--------------- Start: index page------------*/
 	.header_slogan{
 		display: none;
 	}
 	.menu_item{
 		float: none;
 	}
 	.menu_link{
 		padding: 10px 8px;
 		font-size: 15px;
 		color: #fff;
 	}
 	.show_menu nav{
	    right: 0px;
	    -webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	}
 	nav{
		position: fixed;
	    right: -250px;
	    left: inherit;
	    background-color: #000;
	    width: 250px;
	    top: 0px;
	    padding: 40px 0;
	    height: 100%;
	    margin: 0;
	    -webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	    z-index: 1;
	}
	.show_menu .menu li{
		float: none;
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	.show_menu .menu li a{
		padding: 8px 20px;
	}
	.show_menu .menu li a:hover{
	    padding-left: 30px;
	    color: #fff;
    	background-color: #50cd88;
	}
 	.header_slogan + nav{
 		border-bottom: none;
 		border-top: none;
 		padding: 40px 0 0 10px;
 	}
 	.close_btn{
 		position: absolute;
	    top: 5px;
	    right: 10px;
	    width: 30px;
	    height: 30px;
	    font-size: 23px;
	    padding: 0px 8px;
	    color: #50cd88;
	    cursor: pointer;
	    display: block;
 	}
 	.show_menu_btn{
 		display: block;
 		float: right;
 		margin: 14.5px 0;
 	}
 	.show_menu2 .logo + div{
		right: 0;
		z-index: 99;
 	}
 	.show_menu2 #menu_overlay{
 		background: rgba(0, 0, 0, 0.5);
 		position: absolute;
 		top: 0;
 		bottom: 0;
 		right: 0;
 		left: 0;
 		z-index: 90;
 		display: block !important;
 	}
 	.show_menu_btn span{
 		background: url(../images/button.jpg) 0% 90% no-repeat;
 		padding: 11px 12px 11px 55px;
	    display: block;
	    font-size: 16px;
	    cursor: pointer;
	    color: #fff;
 	}
 	/*--------------- End: index page------------*/
}

@media only screen and (max-width: 767px) {
	body{min-width:480px;}   
	.header_slogan{text-align: center;}
	.logo,  .logo + div{float: none;}
	.logo + div{margin-top: 0;}
	.project_item_sm{width: 46%;margin: 0 2% 20px;}
	.show_thumb_btn{width: 40px;height: 40px;bottom: 20px;background: #fff url(../images/show_thumb_icon.png) 50% 18px no-repeat;}
	.content_box{padding: 30px 0;}
	.projects_nav_list{margin-bottom: 20px;}
	/*--------------- Start: index page------------*/
	.service_item{
		display: inline-block;
		margin-bottom: 15px;
	}
	.service_item_img{
		width: 40%;
		float: left;
	}
	.service_item figcaption{
		width: 55%;
		float: left;
		padding: 0px 0 10px 10px;
	}
	.title2{font-size: 20px;}
	.list1 a{font-size: 13px;}
	.title3 a{font-size: 14px;}
	/*--------------- End: index page------------*/
}

@media only screen and (max-width: 600px){
	/*--------------- Start: index page------------*/
	.service_item_img{
		width: 70%;
		float: none;
	}
	.service_item figcaption{
		text-align: justify;
		padding: 0;
		width: 100%;
		float: none;
	}
	
	/*--------------- End: index page------------*/
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
 .col-xs-6{width: 100%;}
 .project_item_sm{width: 100%;}
 .dark_bg .al_right{text-align: left;margin-top: 5px;}
 .portfolio_content .project_item_sm, .portfolio_item{width: 100%;} 
 	/*--------------- Start: index page------------*/
 	.projects_box,
 	.show_menu_btn{margin: 0;}
	.project_item_sm{margin: 0 0 20px;}
	.title3 a{font-size: 15px;}
	.logo a{width: 180px;}
	.show_menu_btn span{
		background: url(../images/button.png) 0% 0% no-repeat;
    	padding: 41px 0px 0px 0px;
    	font-size: 15px;
	}
	/*--------------- End: index page------------*/
}